body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color:beige;
  max-width:85%;
  margin:7.5%;
  margin-top:0;
  padding-bottom:100%;
}


.title{
  color:#196e6e;
  margin-left: 5%;
  margin-right:5%;
  font-size: 2em;
  padding:3%;
  padding-left:5%;
  /*background-color:rgb(255, 255, 234);*/
  border-radius: 0.3em;
  font-family: 'Montserrat Alternates', sans-serif;
}

.exhibit{
  width:40%;
  padding:2%;
  margin-top:5%;
  margin-left:3.25%;
  margin-right:2%;
  border-radius:1em;
  background-color: #f2ffff;
  float:left;
  color: black;
}

.datapoint{
  background-color:rgb(250, 255, 195);
  max-width:90%;
  margin:5%;
  padding:5px;
  color:black;

}